html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, av, input, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'open_sansregular','helvetica', arial, sans-serif;
	vertical-align: baseline;
	line-height:1.3;
	/* font-weight: bold; */
}

*, 
*:before, 
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


body, html{
	color:#777;
	height:100%;
	font-size:90%;
	background:#ddd;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a{
	color:#1d9cd4;
	text-decoration:none;
}

a:hover{text-decoration:underline;}

ul li{list-style:none;}

p{margin-bottom:16px; display:block; }

ul.webmap{
	width:100%;
	float:left;
}

ul.webmap li span,
ul.webmap li a{
	float:left;
	width:100%;
	padding:8px 16px;
	border-top: solid 1px #e5e5e5;
}

ul.webmap li a:hover{background:#6fc3f8; text-decoration:none; color:#fff;}

ul.webmap{border-bottom: solid 1px #e5e5e5;}

ul.webmap li li span, ul.webmap li li a {padding-left:32px;}
ul.webmap li li li span, ul.webmap li li li a {padding-left:48px;}
ul.webmap li li li li span, ul.webmap li li li li a {padding-left:64px;}
ul.webmap li li li li  li span, ul.webmap li li li li li a {padding-left:80px;}

ul.webmap li:first-child span{background-color: #f0faff;}

ol,
ul.textlist{
	margin-bottom:24px;
	margin-left:32px;
}

ol li,
ul.textlist li{margin-bottom:8px;}

ol li{clear: both;}


strong{font-family: 'open_sanssemibold'; color:#282828;}

header.header{
	width:100%;
	position:relative;
}

.center{
	margin:0 auto;
	max-width:1280px;
	text-align:left;
}

h2{
	font-family: 'open_sanssemibold';
	text-transform:uppercase;
	color:#6fc3f8;font-size:120%;
	margin-bottom:16px;
	font-family: 'open_sansregular','helvetica', arial, sans-serif;
}

h3{margin-bottom:8px;}

.topbar{
	background:#6fc3f8;
	width:100%;
	float:left;
	text-align:center;
	height:48px;
	position:relative; 
	z-index:35;
}

.topbar .center{position:relative;}

p.sede{
	float:left;
	width:195px;
	text-align:center;
	margin:16px 32px;
	color:#fff;
	font-size:90%;
	text-transform:uppercase;
	letter-spacing:2px;
}

.topbar_options ul{
	float:right;
}

.topbar_options li{display:inline; position:relative;}

.topbar_options a{
	float:left;
	width:48px;
	height:48px;
	background-image:url(../img/icons_topbar.png);
	background-repeat:no-repeat;
	position:relative;
}
.topbar_options li.webmap a{background-position:0px -96px;}
.topbar_options li.contrast a{background-position:0 -48px;}
.topbar_options li.plus a{background-position:-48px 0;}

.topbar_options a span{
	display:none;
	position:absolute;
	width:96px;
	top:40px;
	left:50%;
	margin-left:-48px;
	text-align:center;
	background:#6fc3f8;
	color:#fff;
	border:solid 1px #fff;
	padding:4px;
	}
	
.topbar_options li ul{
	position:absolute;
	top:48px;
	right:0;
	z-index:999;
	background:#fff;
	-webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 4px 5px rgba(0,0,0,0.15);
	box-shadow: 2px 4px 5px rgba(0,0,0,0.15);
	display:none;

}

.topbar_options li ul li{display:inline;}

.topbar_options li ul li a{
	background:none;
	height:inherit;
	width:inherit;
	border-bottom:solid 1px #e5e5e5;
	padding:8px 16px;
	float:left;
	width:100%;
}

.topbar_options li ul li a:hover{background-color:#6fc3f8; color:#fff; text-decoration:none;}

.topbar_options li ul li:last-child a{border:0;}

	
.topbar_options li:hover > ul {display:block;}
.topbar_options a:hover > span{display:block;}

.userboxbar {
	width:100%;
	float:left;
	position:absolute;
	top:160px;
	right:0;
	z-index:30;
	}
	
.userbox{
	float:right;
	background:#fff;
	border-radius:4px;
	padding:8px 16px;
	position:relative;
	margin: 0 16px;
	}
	
.userbox p{padding-right:32px; margin-bottom:0;}

.userbox p span{color:#6fc3f8;}
	
.userbox a{
	float:right;
	position:absolute;
	right:0;
	top:0;
	width:32px;
	height:32px;
	background-image:url(img/ico_logout.png);
	font-size:0;
}
.userbox a:hover{background-position:0 -32px;}

.time{
	float:left;
	border-radius:4px;
	padding:8px 16px;
	position:relative;
	margin: 0 16px;
	margin-bottom:8px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

.time a{color:#282828;}

.banner{
	width:100%;
	float:left;
	height:100%;
	text-align:center;
	overflow:hidden;
	height:200px;
	background:url(img/banner/flowers.jpg) #fff center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 5px 5px rgba(0,0,0,0.05);
	box-shadow: inset 0 5px 5px rgba(0,0,0,0.05);
	border-bottom:solid 1px #fff;
	position:relative; 
}

.banner img{
	margin:0 auto;
	min-width:100%;
	min-height:320px;
	display:block;
}

.banner .center{max-width:100%;}

.navbar{
	width:100%;
	float:left;
	background:#fff;
	position:relative; 
	z-index:20;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);

}

.navbar .center{position:relative; overflow:hidden;}

.logoAyto{
	float:left;
	margin:16px;
	margin-bottom:0;
}

.logoAyto span{font-size:0;}

nav ul li {display:inline;}

nav ul li a{
	float:left;
	margin-top:32px;
	margin-right:2px;
	padding:8px 32px;
	padding-bottom:48px;
	text-transform:uppercase;
}

nav ul li a:hover,
nav ul li.sel a{
	background:#6fc3f8;
	color:#fff;
	text-decoration:none;
}

.fields{
	margin-bottom:16px;
	overflow: inherit;
	float: left;
	width:100%;
}

.fieldcheckbox{padding-top: 15px;}


textarea,
.field input[type="text"],
input[type="text"].field{
	width:100%;
	padding:8px 16px;
	border-radius:8px;
	border:solid 1px #ddd;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	outline: none;
}

input[type="text"]:hover{
	width:100%;
	padding:8px 16px;
	border-radius:8px;
	border:solid 1px #007F64;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	outline: none;
}



input[type="text"].wvalue{width:88%; float:left;}
.value{float:left; padding-top:12px;}


textarea{min-height:100px;}

select{
	background:url(img/bg_select.png) bottom left repeat-x #fff;
	width:100%;
	padding:8px 16px;
	border-radius:8px;
/* 	-webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.10);
	-moz-box-shadow: 2px 4px 5px rgba(0,0,0,0.10);
	box-shadow: 2px 4px 5px rgba(0,0,0,0.10); */
	border:solid 1px #ddd;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	color: #8c778c;
	outline: none;
}


a.btn,
input[type="submit"].btn{
	padding:8px 18px;
	border-radius:8px;
	background:#6fc3f8;
	color:#fff;
	/* font-family: 'open_sanssemibold'; */
	text-transform:uppercase;
	-webkit-box-shadow: 0 4px 0 #57ade3;
	-moz-box-shadow: 0 4px 0 #57ade3;
	box-shadow: 0 4px 0 #57ade3;
	cursor:pointer;
	outline:0;
	display:inline-block;
	margin:5px;
}

a.btn{width:auto;/*  float:left; */}

a.btn:hover{ text-decoration:none;}


a.btn:active,
input[type="submit"].btn:active{
	-webkit-box-shadow: 0 1px 0 #57ade3;
	-moz-box-shadow: 0 1px 0 #57ade3;
	box-shadow: 0 1px 0 #57ade3;
	 position: relative;
    top: 3px;
}

.docvalidation input[type="submit"].btn{width:100%; margin:0;}

.acenter{text-align:center;}
.aleft{text-align:left;}
.aright{text-align:right;}
	
/* Buscador */

.search {
  display: inline-block;
  position: relative;
  height: 48px;
  float: right;
  padding: 0;
}

.search  input[type="text"] {
  height: 48px;
  display: inline-block;
  padding: 16px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}


.search input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  cursor: text;
  background:url(img/black10.png);
  color:#fff;
}

.search  input[type="submit"] {
  height: 48px;
  width: 48px;
  display: inline-block;
  color:red;
  float: right;
  background: url(img/icons_topbar.png) 0 -96px no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity .4s ease;
}

.search  input[type="submit"]:hover {
  opacity: 1;
}

/* END Buscador */


.content{
	margin-top:-32px;
	width:100%;
	float:left;
	position:relative;
	z-index:30;
	margin-bottom:48px;
	}
	
	
.content_int{
	background:#fff;
	padding:32px;
	border-top:solid 4px #6fc3f8;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	width:100%;
	float:left;
}

.content_int header{
	float:left;
	width:75%;
	margin-bottom:8px;
}

.content_int header h2,
.content_int header h3{
	float:left;
	clear:both;
}

.content_int h4{color:#6fc3f8; text-transform:uppercase; clear:both; margin-bottom:12px; font-size:90%;}
.content_int h3{color:#6fc3f8; font-size:110%; clear:both;}
.content_int h3 span{ font-family: 'open_sanssemibold';}

.faq h3{text-transform: uppercase;}

.content_int p{width:100%;overflow:hidden;}

.breadcrumbs{
	float:left;
	width:100%;
	padding:8px 16px;
	margin-top:-32px;
	}

.breadcrumbs li{
	display:inline;
}


.breadcrumbs li span,
.breadcrumbs li a{
	float:left;
	padding:4px 8px;
	margin-right:8px;
	margin-bottom:4px;
	background:#fff;
	border-radius:8px;	
	font-size:85%;
}

.breadcrumbs li a:hover{
	text-decoration:none;
	background:#6fc3f8;
	color:#fff;
}

ul.catalog_list{
	width:100%;
	float:left;
}

ul.catalog_list li{
	float:left;
	width:33.3333%;
	padding:8px;
	margin-bottom:8px;
}

ul.catalog_list li a{
	float:left;
	width:100%;
	position:relative;
	height:112px;
	border-radius:8px;
	background:#f0faff;
	overflow:hidden;
}

ul.catalog_list li a img{
	min-height:112px;
	min-width:100%;
}

ul.catalog_list li a span{
	position:absolute;
	top:0;
	left:0;
	float:left;
	width:100%;
	padding:8px 16px;
	color:#fff;
	background:#6fc3f8;
	text-align:center;
	text-transform:uppercase;
	font-family: 'open_sanssemibold';
}

ul.catalog_list li a:hover span{background:#57ade3;}


ul.diary li{
	display:inline; 
	float:left;
	padding:16px;
	text-align:center;
	width:25%;
}

ul.diary li span.diary_img{
	width:100%;
	float:left;
}

ul.diary li span.diary_img img{height:16px;}

ul.diary li a{
	border: solid 1px #e5e5e5;
	padding:16px;
	overflow:hidden;
	float:left;
	width:100%;
}


table.table{
	width:100%;
	float:left;
	border-collapse:collapse; 
	border: none;
	border-bottom: solid 1px #e5e5e5;
	margin-bottom:24px;
}


table.table tr th,
table.table tr td{
	border-top: solid 1px #e5e5e5;
	padding:16px;
	overflow:hidden;
	vertical-align: middle;
}

th{
	background:#6fc3f8;
	color:#fff;
	}

table.table tr:nth-child(2n) td{background-color:#f0faff;}

.more_results{
	width:100%;
	float:left;
	margin-bottom:24px;
}

.pagination{width:100%; float:left;}

.pagination a{
	float:left;
	width:25px;
	height:18px;
	background-image:url(img/icos_page.png);
	margin:4px;
}

.pagination li{display:inline;}

.prev_links{float:left;}
.next_links{float:right;}

li.first a{background-position:0 -36px;}
li.first a:hover{background-position:-25px -36px;}
li.prev a{background-position:0 -54px;}
li.prev a:hover{background-position:-25px -54px;}
li.last a{background-position:0 0;}
li.last a:hover{background-position:-25px 0;}
li.next a{background-position:0 -18px;}
li.next a:hover{background-position:-25px -18px;}


a.annulSolicitation,
a.annulRequest,
a.doc2,
a.re,
a.exp,
a.info,
a.download,
a.extUrl,
a.transaction{padding-left:32px; min-height:20px; float:left;}

a.info{background:url(img/ico_info.png) no-repeat left center;}
a.download{background:url(img/ico_download.png) no-repeat left center;}
a.transaction{background:url(img/ico_transaction.png) no-repeat left center;}
a.exp{background:url(img/ico_exp.png) no-repeat left center;}
a.re{background:url(img/ico_re.png) no-repeat left center;}
a.doc2{background:url(img/ico_docs.png) no-repeat left center;}
a.annulSolicitation{background:url(img/ico_annul_solicitation.png) no-repeat left center;}
a.annulRequest{background:url(img/ico_annul_request.png) no-repeat left center;}
a.extUrl{background:url(img/ico_external_link.png) no-repeat left center;}

.search_int{
	float:right;
	width:25%;
}

	
.col01,
.col02,
.sidebar{
	width:33.333%;
	float:left;
	margin-bottom:24px;
	padding:16px;
	padding-bottom:0;
	border:solid 1px #fff;
	background:url(img/black10.png);
}

.tercio,
.dostercios{
	float: left;
	padding: 8px;
	width: 24%
}

.dostercios{
	width: 76%;
}

.col02{border:0; background:none;}

.box{
	margin-bottom:24px;
	width:100%;
	background:#fff;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	position:relative;

}

.list{
	border-top:4px solid #6fc3f8;
}

.list ul li a{
	width:100%;
	float:left;
	padding:16px 32px;
	border-top:solid 1px #e5e5e5;
}

.list ul li:nth-child(2n+1) a{background-color: #f0faff;}

.list ul li a:hover{background:#6fc3f8; color:#fff; text-decoration:none;}

.box header{
	padding:16px;
}

.sugest{
	background-image:url(img/bg_sugest.png);
	background-repeat:no-repeat;
	background-position:top right;
	}

.sugest header{padding-bottom:0;}

.box a.more, .list a.more{
	position:absolute;
	top:0;
	right:0;
	float:left;
	width:48px;
	height:48px;
	background:url(img/icons_topbar.png) 0 -144px;
}

.box a.more:hover, .list a.more:hover{background:url(img/icons_topbar.png) -48px -144px;}

.box a.more span, .list a.more span{font-size:0;}

.docvalidation header{padding:32px; margin-top:100px;}
.docvalidation form{padding:16px 32px; margin-bottom:60px;}
.docvalidation p{margin-bottom:8px;}

.corner{
	width:88px;
	height:88px;
	position:absolute;
	top:-8px;
	right:-8px;
	background:url(img/corner.png);
}

.folder,
.link,
.access_links a,
.dnie{
	background:#6fc3f8;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	width:100%;
	float:left;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-family: 'open_sanssemibold';
}

.link,
.dnie{margin-bottom:24px;}

.dnie .link{
	margin-bottom:0;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.15);
	box-shadow: 0 0 0 rgba(0,0,0,0.15);
	}

.calendar{
	padding:16px;
	background-image:url(img/ico_calendar.png);
	background-repeat:no-repeat;
	background-position:right center;
}

ul.access_links{
	background:url(img/bg_access_links.png) no-repeat bottom right #57ade3;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	width:100%;
	float:left;
	margin-bottom:24px;
}

ul.access_links li{
	width:50%;
	float:left;
	padding:8px;
}

.folder,
ul.access_links li a{
	min-height:132px;
	background-image:url(../img/ico_access_links.png);
	background-repeat:no-repeat;
	padding:16px;
	padding-top:80px;
	font-size:100%;
	font-family: 'open_sansregular','helvetica', arial, sans-serif;
}

.folder_link{float:left; width:20%;}
.folder_info{float:left; width:80%; padding:16px;}

ul.access_links li.einvoice a{background-position:center 0;}
ul.access_links li.contractor a{background-position:center -128px;}
ul.access_links li.pay a{background-position:center -256px;}
ul.access_links li.taxmanagement a{background-position:center -384px;}
ul.access_links li.selfassessments a{background-position:center -512px; word-wrap:break-word;}
ul.access_links li.registration a{background-position:center -640px;}
ul.access_links li.census a{background-position:center -768px;}

.expedient{background-position:center -896px;}
.mail{background-position:center -1024px;}
.register{background-position:center -1152px;}
.bill{background-position:center -1280px;}

.dnie{position:relative;}

.dnie a.link{
	background:url(img/ico_dni.png) no-repeat left center #6fc3f8;
	padding:32px;
	font-size:120%;
	padding-left:100px;
	width:100%;
	float:left;
	color:#fff;
	word-wrap:break-word;
	min-height:96px;
}

.folder:hover,
.access_links a:hover,
.dnie a.link:hover,
a.link:hover{background-color:#4e96c2; text-decoration:none;}

.dnie a.help{
	position:absolute;
	bottom:8px;
	right:8px;
	font-size:80%;
	color:#fff;
	}
	
footer{
	width:100%;
	float:left;
	background:#fff;
	border-bottom:solid 8px #6fc3f8;
}

footer .center{padding:16px 32px; overflow:hidden; }

footer .footer_right{float:right;}

ul.logos li{display:inline; float:left;}
ul.logos li img{margin-right:4px;}

.stamp{float:left; margin-right:16px;}
p.info{float:left;}

ul.footer_links{float:right; }
ul.footer_links li{display:inline; list-style:none;}
ul.footer_links li a{float:left; margin-right:16px;}

.validator_links {float:right; margin:16px; margin-bottom:0;clear:both;}

.validator_links a{
	width:68px;
	height:24px;
	float:left;
	background-image:url(img/icos_w3c.png);
	margin-left:16px;
}
.validator_links a.html5{background-position:0 -24px;}

ul.steps{width:100%; clear:both; margin-bottom:16px; float:left;}

ul.steps li{
	display:inline;
	float:left;
	width:16.666%;
	text-align:center;
	background:url(img/bg_steps.png) no-repeat top center;
}
ul.steps li:first-child{background:url(img/bg_first_step.png) no-repeat top center;}
ul.steps li:last-child{background:url(img/bg_last_step.png) no-repeat top center;}

ul.steps li.done{background:url(img/bg_steps_done.png) no-repeat top center;}
ul.steps li:first-child.done{background:url(img/bg_first_step_done.png) no-repeat top center;}
ul.steps li:last-child.done{background:url(img/bg_last_step_done.png) no-repeat top center;}
ul.steps li.current{background:url(img/bg_step_current.png) no-repeat top center;}
ul.steps li:first-child.current{background:url(img/bg_first_step.png) no-repeat top center;}
ul.steps li:last-child.current{background:url(img/bg_last_step_done.png) no-repeat top center;}

ul.steps li span.circle{
	width:44px;
	height:44px;
	border-radius:22px;
	padding:6px;
	background:#edeef0;
	float:left;
	position:relative; 
	left:50%;
	margin-left:-22px;
	margin-bottom:16px;
}
ul.steps li span.circle span{
	width:32px;
	height:32px;
	border-radius:16px;
	color:#bbb;
	float:left;
	font-size:120%;
	font-family: 'open_sanssemibold';
	line-height:2;
}

ul.steps li.current span.circle span{background:#6fc1f8;color:#fff;}
ul.steps li.current p{color:#6fc1f8; font-family: 'open_sanssemibold';}

ul.steps li.done span.circle span{background:#777;color:#fff;}
ul.steps li.done p{color:#777;}

ul.steps li.done span.circle span,
ul.steps li.current span.circle span{
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.15);
	box-shadow: 0 3px 3px rgba(0,0,0,0.15);
}

.form_box{
	padding:16px 32px;
	margin-bottom:24px;
	border:solid 1px #e5e5e5;
	width:100%;
	float:left;
}

.data{background:#f0faff;}

.form_box.help{background:#f2f2f2;}

p.help_txt{float:left; width:auto;}
a.help_link{float:right;}

ul.help_list{
	float:left;
	clear:both;
	width:100%;
}

ul.help_list li{
	display:list;
	float:Left;	
}

ul.help_list li a{
	float:Left;
	display:list;
	margin:12px;
	padding:4px;
	}
	
ul.help_list li.sel a{background-color:#6fc3f8; color:#fff; border-radius:8px;}


.form_box h4{
	background:#fff;
	color:#6fc2f8;
	text-transform:uppercase;
	/* font-family: 'open_sanssemibold'; */
	width:auto;
	float:left;
	padding:4px 32px;
	margin-top:-24px;
	margin-bottom:32px;
	font-size:90%;
	border:solid 1px #e5e5e5;
}

.form_box h4 span{text-transform:initial;}

.form_box.form .label,
.form_box.form .field{
	float:left;
	width:65%;
	padding:0 16px;
	}
	
.helpDesc{
	font-size:80%;
	width:100%;
	float:left;
	padding:4px 0;
}
	
.form_box.form p{overflow:inherit;float:left;}
	
.form_box.form .field{padding-right:20%;}

.form_box.form .field.fix{padding-top:12px; font-family: 'open_sanssemibold'; color:#000;}

.form_box.form .label{
	width:35%; 
	text-align:right;
	padding-top:12px;
	}

.fieldgroup_result,
.fieldgroup{width:100%; float:left; padding:8px 0; margin-bottom:8px;}

.fieldgroup{border-bottom:solid 1px #e5e5e5;}

.fieldgroup_result{border: solid 1px #e5e5e5; position:relative; padding:8px; background:#f0faff;}

.fieldgroup_result .value{padding:4px 0; color:#000; font-family: 'open_sanssemibold';}

.field3,
.field4{
	float:left;
	width:25%; 
	padding:0 4px;
}

.field4 input[type="submit"]{margin-top:14px;}

.field3{width:33.3333%;}
	
.action{text-align:center; float:left; widht:100%;}

.action input.btn{margin-left:8px; display:inline;}

.identity p{margin-bottom:12px; font-size:85%; }

.required{color:#6fc2f8; font-family: 'open_sanssemibold';}

.status{
    width:100%;
    float:left;
    margin-bottom:24px;
}

.feedbackPanelINFO,
.feedbackPanelERROR{
	color:#fff;
    padding:2px 32px;
    text-align:center;
}

.status li:first-child{padding-top:16px;}
.status li:last-child{padding-bottom:16px;}

.feedbackPanelINFO{background:#3cca00;}
.feedbackPanelERROR{background:#ff0000;}

.docs{margin:0 20%;}	

.docs p{
	border:solid 1px #e5e5e5;
	border-radius:4px;
	text-align:center;
	position:relative;
	}
	
.docs p:hover{background:#f0faff;}
	
.docs span{margin:8px; float:left; width:100%;}
	
a.doc{
	float:left;
	padding:8px 48px 8px 32px;
	text-align:left;
	background:url(img/ico_doc.png) no-repeat left top;
}

a.delete{
	width: 32px;
	height: 32px;
	background-image: url(img/ico_logout.png);
	float:right;
	position:absolute;
	top:0;
	right:0;
	
}

a.delete:hover{background-position:0 -32px;}

a.delete span{font-size:0;}

.error404,
.accessdenied {
	width:100%;
	float:left;
	margin:48px 0;
	padding-top:80px;
	text-align:center;
}

.error404 {
	background:url(img/ico_error404.png) no-repeat center top;
}

.accessdenied {
	background:url(img/ico_not-access.png) no-repeat center top;
}

/* Pie abajo */

html, body { height: 100%; } 
.wrapper{ min-height: 100%; overflow: auto; padding-bottom: 104px;} 
footer { position: relative; margin-top: -104px; /* altura en px del footer con valor negativo */ min-height: 104px; /* Altura del Footer en px*/ clear: both; } 
/*Opera Fix*/ body:before { content: ""; height: 100%; float: left; width: 0; margin-top: -32767px;/* Efecto Negativo para OPERA*/ }

/* END Pie abajo */

/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
  
* html .clearfix {
    height: 1%;
}
/* END clearfix */

/* Transparency */

.box.transparency{
	  /* border-top: 4px solid #6fc3f8;*/
	background-image: -webkit-gradient(linear, center top, center bottom, from(#6fc3f8), to(#57ade3));
	background-image: -webkit-linear-gradient(top, #6fc3f8, #57ade3);
	background-image: -moz-linear-gradient(top, #6fc3f8, #57ade3);
	background-image: -o-linear-gradient(top, #6fc3f8, #57ade3);
	background-image: -ms-linear-gradient(top, #6fc3f8, #57ade3);
	background-image: linear-gradient(to bottom, #6fc3f8, #57ade3);

}

.box.transparency h2{
	color:#fff; 
	text-align:center;
	padding-top:132px;
	background:url(img/ico_trans_h2.png) no-repeat top center;
	}
	
.box.transparency a:hover{
	text-decoration:none;
	}

.box.transparency .body{
	padding:0 16px 16px 16px;
	text-align:center;
}

.transparency ul{
	width:100%;
	display:inline-block;
	margin-bottom:24px;
}

.transparency li a {
	float:left;
	width:16.6666666667%;
	padding:16px 4px;
	text-align:center;
	font-size:110%;
	font-weight:400;
	
}

.transparency li a span{
	width:48px;
	height:48px;
	display:inline-block;
	background-image:url(img/ico_trans.png);
	background-color:#6fc3f8;
	clear:both;
}

.transparency li.ico_trans_a a span{background-position:0 0;}
.transparency li.ico_trans_b a span{background-position:0 -48px;}
.transparency li.ico_trans_c a span{background-position:0 -96px;}
.transparency li.ico_trans_d a span{background-position:0 -144px;}
.transparency li.ico_trans_e a span{background-position:0 -192px;}
.transparency li.ico_trans_f a span{background-position:0 -240px;}

.transparency h4{
	font-size:140%;
	text-transform:initial;
	font-weight:600;
}

.transparency h4 span{
	width:24px;
	height:24px;
	display:inline-block;
	background-image:url(img/ico_trans24.png);
	background-color:#6fc3f8;
	clear:both;
	margin-right:12px;
	margin-bottom:-4px;
}

.transparency h4.ico_trans_a span{background-position:0 0;}
.transparency h4.ico_trans_b span{background-position:0 -24px;}
.transparency h4.ico_trans_c span{background-position:0 -48px;}
.transparency h4.ico_trans_d span{background-position:0 -72px;}
.transparency h4.ico_trans_e span{background-position:0 -96px;}
.transparency h4.ico_trans_f span{background-position:0 -120px;}


.transparency th,
.transparency td.td_icon,
.transparency td{padding:8px !important;}

.transparency td{vertical-align:top !important;}

/*END transparency*/


/* Advertisement */

.advertisement li {
	width:100%;
	float:left;
	padding:4px 16px;
	padding-left:68px;
	margin-bottom:16px;
	position:relative;
	min-height:40px;
}

.advertisement li a{padding-top:12px; display:block; float:left;}

.advertisement table{margin-bottom:0;}

.calendar_date{
	float: left;
    width: 42px;
    height: 42px;
    border-radius: 4px;
	border:solid 1px #6fc3f8;
    overflow: hidden;
	margin-right:12px;
	margin-bottom:4px;
	position:absolute;
	top:4px;
	left:16px;
	}
	
.day {
    width: 100%;
    float: left;
    color: #57ade3;
    font-weight: 700;
    font-size: 180%;
    text-align: center;
    line-height: 1;
}
	
.month {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: #6fc3f8;
    width: 100%;
    float: left;
    text-align: center;
    padding: 2px 0;
    font-size: 80%;
}

/* END Advertisement */

.general-warning{background:#282828; color:#fff; padding:8px 32px;}

/* Banners */
.banner_test,
.banner_pending,
.banner_lapsed{
	width:100%;
	padding:8px 32px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#fff;
	text-align:center;
	font-family:'helvetica', arial, sans-serif;
}
.banner_test{background:#f9810b;}
.banner_pending{background:#ffcc00; color:#000;}
.banner_lapsed{background:#c00000;}
/* END Banners */

.form_box p{clear:both;}

/* DATE TIME LOCAL FIELD */
.datetimeLocalField input.date {
	width: 110px;
}

.datetimeLocalField input.hours,.datetimeLocalField input.minutes {
	width: 50px;
}
/* END DATE TIME LOCAL FIELD */

/* RESPONSIVE */

@media screen and (max-width: 960px){
	ul.access_links li{width:100%;}
		nav ul li a{
	margin-top:32px;
	margin-right:1px;
	padding:4px 8px;
	padding-bottom:48px;
	}
	.form_box.form .field {padding-right: 5%;}
}

@media screen and (max-width: 800px){
	.sidebar{width:100%;}
	.col01, .col02{width:50%;}
		nav ul li a{
		width:100%;
		text-align:center;
		margin:0;
		margin-bottom:1px;
		padding:16px;
	}
	.logoAyto{width:100%; text-align:center; margin:0;}
	ul.access_links li{width:50%;}
	.userboxbar{top:412px;}
	.docs{	margin:10%;}	
	ul.catalog_list li{width:50%;}
	.form_box.form .field {padding-right: 0;}
	
	nav ul{padding:0 32px;}
	
	.field4{width:50%;}

 
	table.table th,
	table.table td { margin: 0; vertical-align: top; }
	table.table th { text-align: left; }
	
	table.table{ display: block; position: relative; width: 100%; }
	table.table thead { display: block; float: left; }
	table.table tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	table.table thead tr { display: block; }
	table.table th { display: block; text-align: right; }
	table.table tbody tr { display: inline-block; vertical-align: top; }
	table.table td { display: block; min-height: 1.25em; text-align: left;}
	
	.tercio,
	.dostercios{
		width: 100%
	}
 
}

@media screen and (max-width: 640px){
	
	.sidebar, .col01, .col02{width:100%;}
	p.sede{width:100%; margin:16px 0; margin-top:60px;}
	.topbar{height:96px; }
	.topbar_options{
		position:absolute;
		top:0;
		right:0;
		width:100%; float:left; background:#57ade3;
	}
	li.contrast,
	li.plus{display:none;}
	.search input[type="text"]:focus{width:180px;}
	.col01, .col02, .sidebar{background:none; border:0; padding:0 16px; margin:0;}
	ul.access_links li{width:50%;}
	
	.search_int{width:100%; margin-bottom:32px;}
	ul.diary li{width:100%;}
	.logoAyto{margin:16px 0;}
	
	ul.steps li{display:none;}
	ul.steps li.current{display:block; width:100%; background:none !important;}
	
	.form_box.form .field{padding-right:0;}
	
	.form_box.form .label,
	.form_box.form .field.fix,
	.form_box.form .field{padding:4px;}
	.form_box.form .field.fix{padding:4px 16px;}
	.docs{	margin:0;}	
	.breadcrumbs{display:none;}
	
	.folder_link{width:35%;}
	.folder_info{width:65%;}
	
	ul.catalog_list li{width:100%;}
	.form_box.form .label,
	.form_box.form .field{width:100%;}
	.form_box.form .field.fix{padding:4px;}
	.form_box.form .label{text-align:left;}
	
	.field3{width:100%; margin-bottom:4px;}
	
}

@media screen and (max-width: 480px){
	.folder_link{width:100%;}
	.folder_info{width:100%;}
}

@media screen and (max-width: 360px){
	ul.access_links li{width:100%;}
	.content_int, .form_box{padding:8px;}
	
}

/* END RESPONSIVE */



	